[Unit]
Description=PylonisAmp v0.10.4.41
After=network-online.target bluetooth.target sound.target bluealsa.service
Wants=network-online.target bluetooth.target

[Service]
Type=simple
User=tom
Group=audio
WorkingDirectory=/home/tom/streamer/api
Environment=PYTHONUNBUFFERED=1
Environment=ALSA_DEVICE=hw:sndrpihifiberry,0
Environment=UART_PORT=/dev/ttyAMA0
Environment=UART_BAUD=115200
Environment=WEB_PORT=8000
ExecStart=/usr/bin/python3 /home/tom/streamer/api/app.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=streamer
SupplementaryGroups=dialout audio bluetooth

[Install]
WantedBy=multi-user.target
